$zestiiEarth: #ddd1c3;
$zestiiLemon: #fece67;
$zestiiKale: #1f552b;
$zestiiSalmon: #f3776e;
$lightorange:#eea09b;
$peasoup: #afd0a9;
$tomato: #a32022;
$potato: #dbac80;
$zestiiWhite: #f1f1f1;
$zestiiBlack: #171d1a;