

.side-div{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap:1rem;
    background-color: #71a4dc;
    list-style-type:none;
}
.side-div li{
  list-style-type: none;

}
.side-div ul{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap:1rem;
}
.button-account{
  padding:15px 32px;
  margin:4px 2px;
  border:none;
  background-color:var(#29335c); 
border-radius: 8%;}