@import url('https://fonts.cdnfonts.com/css/montserrat');

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
  .App {
    width: 90%;
    font-size: 1.2em;
  }
}

*{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #3d403e;
  background: linear-gradient(#afd0a9, #ddd1c3);
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.0rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h6 {
    font-size: 0.6rem;
  }


a {
  font-size: 1rem;
  font-display: auto;
  color:#f1f1f1;
  text-decoration: none;
  padding: 0;
  margin:auto;
}

a:hover {
  text-decoration: none;
  opacity: 80%;
}

p,
ul,
ol {
  margin: 0 0 1.15rem 0;
}

p,
li {
  line-height: 1.65rem;
}

.active {
  color: #f3776e;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  padding:20px 15px;
}

.form {
  display: flex;
  flex-flow: column;
  margin: 0, auto;
  align-items: center;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  color: #f1f1f1;
  text-decoration: none;
  background-color:#f3776e;
  padding: 10px 30px;
  margin: 20px;
  border: none;
  outline: none;
}

label{
  width: 85%;
  justify-content: space-evenly;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]{
  width:80%;
  padding: 8px;
  margin: 6px;
}

input[type="textarea"]{
  width: 65%;
  height: 80px;
}

input[type="radio"]
input[type="checkbox"]{
  margin-right: 20px;
}