


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300;1,600;1,700&display=swap');


:root{
  --mainColor:#898f92;
  --mainColorLight:#afd3de;
  --secondaryColor:#f1b6e1;
  --textColor:rgb(0, 0, 0);

  }

.App{
  text-align:center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background:linear-gradient(170deg, #c2e490 20%, #71a4dc 35%);
  font-family: 'Titillium Web',sans-serif;
}
img{
  width:200px;
  height:300px;
  object-fit: contain; 
  
  
  }
.contactUsPage{
  box-sizing: border-box;
  padding:2rem;
  display:grid;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr;
  gap:2rem;
  background-color: #cccccc;
  background-image: radial-gradient(rgb(43, 57, 78), rgb(0, 255, 251));
  color: var(--textColor);
  justify-content: center;
  
}
.contctUsDiv{
  display: flex;
  flex-direction:

}
    



